.chart-wrapper {
  height: 320px;
  width: 100%;
}

/* Mobile */
@media (max-width: 768px) {
  .chart-wrapper {
    height: 240px;
  }
}

.chart-wrapper {
  height: 220px;
  width: 100%;
}

.small-chart {
  padding: 1.2rem;
}

/* Mobile */
@media (max-width: 768px) {
  .chart-wrapper {
    height: 180px;
  }
}
